## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [39]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [40]:
# Your code here
numbers_to_100=list(range(101)) #first we create the list of number from 0 to 100

sample_list_1=random.sample(numbers_to_100, 80) #we choose randomly with the random.select function
    
print(sample_list_1)

[4, 2, 84, 81, 55, 82, 54, 85, 80, 99, 3, 15, 92, 73, 43, 16, 11, 0, 74, 67, 26, 30, 59, 93, 9, 23, 70, 34, 75, 69, 83, 25, 96, 89, 13, 41, 24, 64, 53, 7, 100, 27, 44, 98, 77, 17, 46, 29, 86, 62, 21, 49, 63, 72, 6, 60, 45, 5, 57, 65, 10, 56, 51, 12, 71, 33, 61, 95, 32, 52, 87, 76, 39, 47, 22, 88, 79, 31, 94, 50]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [41]:
# Your code here
set1=set(sample_list_1)

print('Length of set1 is: '+str(len(set1)))

Length of set1 is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [42]:
# Your code here

sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[46, 34, 12, 46, 10, 8, 52, 18, 43, 19, 72, 68, 20, 85, 66, 75, 93, 86, 70, 51, 78, 66, 9, 18, 92, 50, 13, 1, 14, 81, 18, 56, 92, 99, 77, 70, 76, 70, 13, 69, 100, 84, 83, 18, 69, 20, 16, 9, 96, 53, 27, 13, 45, 10, 26, 61, 67, 69, 35, 45, 76, 13, 88, 94, 75, 76, 91, 48, 31, 44, 63, 87, 96, 1, 99, 22, 67, 86, 7, 10]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [43]:
# Your code here
set2=set(sample_list_2)

print('Length of set2 is: '+str(len(set2)))

#set 2 has different values than sample_list_2 because we have not forced it to has different values.
#It can have any value from 1 to 80 and will change every time you execute the above cell

Length of set2 is: 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
# Your code here

set3 =set1.difference(set2) 

print(len(set3))

38

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
# Your code here
set4 =set2.difference(set1) 

print(len(set4))

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
# Your code here
set5=set1.intersection(set2)

print(len(set5))

42

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [47]:
# Your code here
#Taking a hint to the inclusion-exclusion principle (https://en.wikipedia.org/wiki/Inclusion%E2%80%93exclusion_principle)
#we can easily understand the length of the different sets and its relationship

len_set1=len(set3)+len(set5)
len(set1)==len_set1

#So set1 is equal to the sum of elements of set 1 that are present in set 2 and those that are not.

len_set2=len(set4)+len(set5)
len(set2)==len_set2

#So set2 is equal to the sum of elements of set 2 that are present in set 1 and those that are not.

True

#### Create an empty set called `set6`.

In [48]:
# Your code here

set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [49]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [50]:
# Your code here
if set1==set6:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:
# Your code here
check=set2.issubset(set1)
print('Does set1 contains set2?: '+str(check))

# Your code here
check=set3.issubset(set1)
print('Does set1 contains set3?: '+str(check))

Does set1 contains set2?: False
Does set1 contains set3?: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [52]:
# Your code here
set7=set3.union(set4,set5)
set8=set1.union(set2)

print(set7==set8)

print('Both aggregates are equal')

True
Both aggregates are equal

#### Using the `pop` method, remove the first element from `set1`.

In [53]:
# Your code here

#Since sets are not ordered, we can not remove the "first" element of it.
#Also, pop method remove an arbitrary element of the set https://www.w3schools.com/python/ref_set_pop.asp
#Anyhow, here it is done

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [56]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for e in list_to_remove:
    if e in set1:
        set1.remove(e)

print(set1)

{2, 3, 4, 5, 6, 7, 10, 12, 13, 15, 16, 17, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 60, 62, 63, 64, 65, 67, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 98, 100}