# Advanced Querying Mongo

Importing libraries and setting up connection

In [138]:
from pymongo import MongoClient,DESCENDING,ASCENDING
import re

dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
print(mongodbURL)
client = MongoClient(mongodbURL, connectTimeoutMS=2000,serverSelectionTimeoutMS=2000)
db = client.get_database()

mongodb://localhost/companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [69]:
#%time
searchre=re.compile("^Babelgum.*")
cursor = db.companies.find({"name":searchre},{"name":1})

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [61]:

cursor=db.companies.find({"number_of_employees":{"$gte":5000}}).sort([
   ("number_of_employees", DESCENDING)]).limit(20)

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [68]:
cursor=db.companies.find({"founded_year":{"$gte":2000,"$lte":2005}},{"name":1,"founded_year":1})

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [165]:
cursor=db.companies.find({"$and":[{"ipo.valuation_amount":{"$gt":100000000}},{"founded_year":{"$lt":2010}}]})

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [78]:
cursor=db.companies.find({"$and": [{"number_of_employees":{"$lt":5000} }, {"founded_year":{"$lt":2005}}]}).sort([
   ("number_of_employees", DESCENDING)]).limit(10)

### 6. All the companies that don't include the `partners` field.

In [88]:
cursor=db.companies.find({"partners":{"$exists":False}})

### 7. All the companies that have a null type of value on the `category_code` field.

In [96]:
cursor=db.companies.find({"category_code":None})

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [99]:
cursor=db.companies.find({"number_of_employees":{"$gte":100,"$lte":1000}},{"name":1,"number_of_employees":1})

### 9. Order all the companies by their IPO price in a descending order.

In [169]:
cursor=db.companies.find({}).sort([("ipo.valuation_amount", DESCENDING)])

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [162]:
cursor=db.companies.find({}).sort([("number_of_employees", DESCENDING)]).limit(10)

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [111]:
cursor=db.companies.find({"founded_month":{"$gte":7,"$lt":12}}).limit(1000)

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [118]:
cursor=db.companies.find({"$and":[{"founded_year":{"$lt":2000}},{"acquisition.price_amount":{"$gt" :10000000}}]})

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [124]:
cursor=db.companies.find({"acquisition.acquired_year":{"$lt":2010}},{"name":1,"acquisition":1}).sort([("acquisition.price_amount", DESCENDING)])

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [130]:
cursor=db.companies.find({},{"name":1,"founded_year":1}).sort([("founded_year", DESCENDING)])

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [133]:
cursor=db.companies.find({"founded_day":{"$lte":7}}).sort([("acquisition.price_amount", DESCENDING)]).limit(10)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [149]:
cursor=db.companies.find({"$and":[{"category_code":{"$eq":"web"}},{"number_of_employees":{"$gt":4000}}]}).sort([("number_of_employees", ASCENDING)])

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [153]:
cursor=db.companies.find({"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"acquisition.price_currency_code":{"$eq":"EUR"}}]})

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [156]:
cursor=db.companies.find({"acquisition.acquired_month":{"$lte":3}},{"name":1,"acquisition":1}).limit(10)

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [161]:
cursor=db.companies.find({"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2010}},{"acquisition.acquired_year":{"$lt":2011}}]})

### 20. All the companies that have been 'deadpooled' after the third year.

In [187]:
cursor=db.companies.find( { "$where" : {"deadpooled_year"-"founded_year":{"$lt":3}}} ).count()

TypeError: unsupported operand type(s) for -: 'str' and 'str'